In [1]:
# Advanced Function

# Lambda Function-----> It is also called Anonymous Function and One liner Function.
# In lambda function no need to define name directly use lambda that's why it is also called Anonymous Function.
#

In [2]:
def fun (a,b):
    result = a+b
    return result

fun(3,4)

7

In [3]:
a = lambda x,y:x+y
a(3,4)

7

In [7]:
# wap to add a number with the help of lambda function.

x = lambda a:a+4
x(3)

7

In [8]:
# Rules of lambda function------> 
# 1. we can pass n no.of arguments.
# 2. we cannot perform more than one operation in this function.

In [10]:
a = lambda x,y,z: x+y*z-x
a(1,2,3)

6

In [13]:
# filter function-----> improve the quality of the data.
# in-built function----> (function,data)
# always used list and tuple in filter function.

a = [34,67,23,75,32,76,45,98]

for i in a:

    if i>=60:
        print(i)

67
75
76
98

In [14]:
def fun():
    a = [34,67,23,75,32,76,45,98]
    for i in a:
        if i>=60:
            print(i)
            
fun()

67
75
76
98

In [16]:
# function + filter function

a = [34,67,23,75,32,76,45,98]
def fun(a):
    if a>=60:
        return True
    else:
        return False
    
    
x = list(filter(fun,a))
print(x)

[67, 75, 76, 98]

In [18]:
# lambda + filter function

a = [34,67,23,75,32,76,45,98]
x= list(filter(lambda a: True if a>=60 else False,a))
print(x)

[67, 75, 76, 98]

In [19]:
a = [34,67,23,75,32,76,45,98]
list(filter(lambda a: True if a>=60 else False,a))

[67, 75, 76, 98]

In [22]:
# wap to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that 
# multiplies argument x with argument y and print the result.

x = lambda a: a+15
x(3)

18

In [23]:
y = lambda x,y: x*y
y(4,2)

8

In [4]:
# map function: we can use this for perform an operation.

a = [2,5,6,9]

z = list(map(lambda x:x**2,a))
print(z)

[4, 25, 36, 81]

In [6]:
a = [2,5,6,9]
list(map(lambda x: x+5,a))

[7, 10, 11, 14]

In [7]:
# reduce function--->

from functools import reduce

In [8]:
a = [4,6,2,7,8]
reduce(lambda x,y:x+y,a)

27

In [18]:
# wap to create a function that takes one argument, and that argument will be multiplied with an unknown given number

a = [2,3,4,5]
list(map(lambda x:x*15,a))

[30, 45, 60, 75]

In [19]:
# wap to filter a list of integers using lambda.

a = [2,5,6,3,7,1,8,9,4]

list(filter(lambda a: True if a%2==0 else False,a))

[2, 6, 8, 4]

In [22]:
# wap to check whether a given string is number or not using lambda.

a = '123'
type(a)

str

In [2]:
a = '123'
if a = 0-9
    print(true)
else:
    print(false)

SyntaxError: invalid syntax (Temp/ipykernel_3192/1428331261.py, line 2)

In [8]:
# wap to count the even, odd numbers in a given array of intergers using lambda.

a = [1,2,3,5,7,8,9,10]
def fun(a):
    if a%2==0:
        print('even no')
    else:
        print('odd no')
        
x = list(filter(fun,a))
print(x)

odd no
even no
odd no
odd no
odd no
even no
odd no
even no
[]

In [24]:
# wap to add two given lists using map and lambda.

a=[1,2,3]
b=[4,5,6]

list(map(lambda a,b: a+b,a,b))

[5, 7, 9]

In [2]:
# wap to find numbers divisible by nineteen or thirteen from a list of numbers using lambda.

a = [19,65,57,39,152,639,121,44,90,190]

list(filter(lambda a: True if a%19==0 and a%13==0 else False,a))

[]

In [12]:
# wap that multiply each number of given list with a given number using lambda function.

a = [7,9,5,8,6]

list(map(lambda a:a*2,a))

[14, 18, 10, 16, 12]

In [1]:
# wap to triple all numbers of a given list of integers using map.

a = [3,6,2,8]
list(map(lambda x: x*x*x,a))

[27, 216, 8, 512]

In [2]:
# wap to add three given lists using map and lambda.

a = [3,6,2]
b = [6,8,4]
c = [2,8,0]

list(map(lambda a,b,c: a+b+c,a,b,c))

[11, 22, 6]

In [3]:
# wap to square the element of  a list using map function.

a = [3,6,2]
list(map(lambda a: a*a,a))

[9, 36, 4]

In [10]:
#wap a program to find the average of 5 numbers using lambda function.

a = lambda a,b,x,y,z : (a+b+x+y+z)/5
a(4,2,6,7,2)

4.2

In [6]:
#wap to find the max and min of 3 numbers and find their average with help of lambda function.