

a= [48,32,56,34,64]
a.sort(reverse=False)

In [4]:
a

[32, 34, 48, 56, 64]

In [5]:
# wap to add list to 4 no.?

a= [3,6,2,6]
total = 0
for i in a:
    total = total + i
print(total)

17

In [6]:
# wap to count 7 in the tuple?

t = (7,77,777,-77,87,97,-7)
t.count(7)

1

In [1]:
# wap to store 3 fruit items in a list entered by the user.

b = []
for i in range(4):
    x = input('enter the fruit')
    b.append(x)

print(b)

enter the fruitapple
enter the fruitmango
enter the fruitgrapes
enter the fruitbanana
['apple', 'mango', 'grapes', 'banana']

In [4]:
#wap to display marks of 5 students & display them in sorted way.

a = []
for i in range(5):
    x=  int(input('enter your marks'))
    a.append(x)
    
print(a)

enter your marks46
enter your marks52
enter your marks-6
enter your marks25
enter your marks44
[46, 52, -6, 25, 44]

In [5]:
a.sort()

In [6]:
a

[-6, 25, 44, 46, 52]

In [9]:
#wap to display marks of 5 students & display them in sorted way.

a = []
for i in range(5):
    x=  int(input('enter your marks'))
    a.append(x)
    
print('marks in random order',a)    
a.sort()
print('marks in sorted form',a)

enter your marks85
enter your marks15
enter your marks63
enter your marks45
enter your marks25
marks in random order [85, 15, 63, 45, 25]
marks in sorted form [15, 25, 45, 63, 85]

In [10]:
# wap if tuple is mutable or not?

t = (45,'komal',43,7.8,44)
t

(45, 'komal', 43, 7.8, 44)

In [11]:
type(t)

tuple

In [12]:
# wap to add list to 4 no.?

a= [3,6,2,6]
total = 0
for i in a:
    total = total + i
    print(total)

3
9
11
17

In [13]:
#wap to display marks of 5 students & display them in sorted way.

a = []
for i in range(5):
    x=  int(input('enter your marks'))
    a.append(x)
    
print(a) 
a.sort()
print(a)

enter your marks45
enter your marks96
enter your marks25
enter your marks63
enter your marks18
[45, 96, 25, 63, 18]
[18, 25, 45, 63, 96]

In [3]:
# WAP to multiply all the items in a list.

a = [4,2,6,4]
mul = 1

for i in a:
    mul = mul * i
print(mul)

192

In [11]:
# wap to get the largest number from a list.

a = [34,65,23,67,45]
max(a)

67

In [3]:
# wap to print fibonacci series.

n1,n2 = 0,1
nterms = 10
count = 0

if nterms <= 0:
    print('enter positive number')
    
elif nterms == 1:
    print(n1)
else:
#    print('sequence')
    while count < nterms:
            print(n1)
            nth = n1+n2
            n1 = n2
            n2 = nth
            count+=1

sequence
0
1
1
2
3
5
8
13
21
34

In [2]:
count=0
nterms=10
n1,n2=0,1
while count < nterms:
            print(n1)
            nth = n1+n2
            n1 = n2
            n2 = nth
            count+=1

0
1
1
2
3
5
8
13
21
34

In [5]:
# wap to count total number in a digit?

n=523672
count = 0
while n>0:
    
    count = count + 1
    n=n//10
print(count)

6

In [4]:
# decimal to binary

def btd(num):
    if num>=1:
        btd(num//2)
    print(num%2,end='')
dec_val = 24
btd(dec_val)

011000

In [6]:
# wap to print Fibonacci number to given limit.

terms=int(input('enter the terms'))
a=0
b=1
count=0
if terms<=0:
    print('enter an interger')
elif terms==1:
    print(a)
else:
    print('fibonacci sequence')
while count<terms:
    print(a,end='')
    c=a+b
    a=b
    b=c
    count=count+1

enter the terms5
fibonacci sequence
01123