In [6]:


print('Hello Dimple')

Hello Dimple

In [7]:
print(123)

123

In [8]:
print('123')

123

In [9]:
# string -----> alphabet+number+special character etc.
# condition ------> it should be in single, double or triple quotes.
a= 123
b= "123"
print(a==b)

False

In [12]:
# variables & data types

a = "10"

In [13]:
print(a)

10

In [14]:
# data types -----> int,string, float,boolean,complex
a = 10
print (a)

10

In [15]:
type(a)

int

In [16]:
a='10'
print(a)

10

In [17]:
type(a)

str

In [1]:
# Strings are sequence of characters enclosed within single quotes(''),double quotes("") or triple quotes('''''').

str1 = 'this is my first string'
str1

'this is my first string'

In [2]:
str2 = "this is my second string"
str2

'this is my second string'

In [3]:
str3 = '''

this string
has
lot of lines
in it'''
str3

'\n\nthis string\nhas\nlot of lines\nin it'

In [4]:
str = 'my name is john'
str[0]

'm'

In [5]:
str[-1]

'n'

In [7]:
str[0:6]

'my nam'

In [8]:
len(str)

15

In [9]:
str.lower()

'my name is john'

In [10]:
str.upper()

'MY NAME IS JOHN'

In [11]:
str.replace('is','are')

'my name are john'

In [19]:
str.count('m')

2

In [1]:
a= 'Hellow world is awesome'
a.find('i')

13

In [2]:
str_final='President Obama is the best President of United States'
str_final

'President Obama is the best President of United States'

In [3]:
str_final.split('e')

['Pr',
 'sid',
 'nt Obama is th',
 ' b',
 'st Pr',
 'sid',
 'nt of Unit',
 'd Stat',
 's']

In [2]:
print('hii')

hii