In [ ]:
# DICTIONARY

# Dictionary is an unordered collection of key-value pairs enclosed with {}.
# Dictioinary is mutable.

In [1]:
my_dict = {
    'name' : 'vishal'
}
my_dict

{'name': 'vishal'}

In [2]:
type(my_dict)

dict

In [4]:
my_dict = {
    'name' : 'vishal',
    'age' : 22,
    'marks' : 94
}
print(my_dict)

{'name': 'vishal', 'age': 22, 'marks': 94}

In [11]:
# wap to make a dict of employee.

e = {
    'employee' : ['manish','A','B'],
    'designation' : ['call cordinator','ccc','retainer'],
    'salary' : ['12000','10000','14000',]
}
print(e)

{'employee': ['manish', 'A', 'B'], 'designation': ['call cordinator', 'ccc', 'retainer'], 'salary': ['12000', '10000', '14000']}

In [18]:
my_dict = {
    'name' : ['vishal','A','B'],
    'age' : 22,
    'marks' : 94
}
print(my_dict)

{'name': ['vishal', 'A', 'B'], 'age': 22, 'marks': 94}

In [19]:
# Indexing Slicing------>
# NO INDEX IN DICT
# NO SLICING

my_dict['name'][2]

'B'

In [6]:
x= {
    'name' : ['X', 'Y', 'Z'],
    'age' : 43,
    'salary' : 38555
}
x['name']

['X', 'Y', 'Z']

In [7]:
x['name'][0]

'X'

In [8]:
x['name'][-1]

'Z'

In [15]:
x= {
    'name' : ['X', 'Y', 'Z'],
    'age' : (43,46,23),
    'salary' : 38555,
    'id' : 1,
    
    'a' : {
        'rank' : 'senior',
        'address' : ['NOida','Goa','Delhi']
    }    
}
x

{'name': ['X', 'Y', 'Z'],
 'age': (43, 46, 23),
 'salary': 38555,
 'id': 1,
 'a': {'rank': 'senior', 'address': ['NOida', 'Goa', 'Delhi']}}

In [11]:
x['a']['address']

'noida'

In [16]:
x['a']['address'][2]

'Delhi'

In [20]:
x= {
    'name' : ['X', 'Y', 'Z'],
    'age' : (43,46,23),
    'salary' : 38555,
    'id' : 1,
    0:1,
    '1': 'HELLO',
    1 :'dimple',
    
    'a' : {
        'rank' : 'senior',
        'address' : ['NOida','Goa','Delhi']
    }    
}
x

{'name': ['X', 'Y', 'Z'],
 'age': (43, 46, 23),
 'salary': 38555,
 'id': 1,
 0: 1,
 '1': 'HELLO',
 1: 'dimple',
 'a': {'rank': 'senior', 'address': ['NOida', 'Goa', 'Delhi']}}

In [24]:
# wap and a dict of student & emp and try to fetch the common data.

student = {
    'name' : 'A',
    'age' : 3,
    'address' : 'Delhi',
    
    'emp' : {
          'name' : 'A',
           'salary' : 344,
           'holiday' : 32
    }    
}
student

{'name': 'A',
 'age': 3,
 'address': 'Delhi',
 'emp': {'name': 'A', 'salary': 344, 'holiday': 32}}

In [25]:
student['emp']['name']

'A'

In [26]:
student['name']

'A'

In [27]:
# Dict method

# copy
# clear
# pop
# items
# values
# keys

In [30]:
s = {
    'name' : 'A',
    'age' : 3,
    'address' : 'Delhi',
    
    'emp' : {
          'name' : 'A',
           'salary' : 344,
           'holiday' : 32
    }    
}
s

{'name': 'A',
 'age': 3,
 'address': 'Delhi',
 'emp': {'name': 'A', 'salary': 344, 'holiday': 32}}

In [33]:
copy_data = s.copy()

In [34]:
copy_data

{'name': 'A',
 'age': 3,
 'address': 'Delhi',
 'emp': {'name': 'A', 'salary': 344, 'holiday': 32}}

In [35]:
s

{'name': 'A',
 'age': 3,
 'address': 'Delhi',
 'emp': {'name': 'A', 'salary': 344, 'holiday': 32}}

In [36]:
# pop expected atleast 1 argument.
s.pop('age')

3

In [37]:
s

{'name': 'A',
 'address': 'Delhi',
 'emp': {'name': 'A', 'salary': 344, 'holiday': 32}}

In [42]:
s['emp'].pop('salary')

344

In [43]:
s

{'name': 'A',
 'age': 3,
 'address': 'Delhi',
 'emp': {'name': 'A', 'holiday': 32}}

In [45]:
# keys

s = {
    'name' : 'A',
    'age' : 3,
    'address' : 'Delhi',
    
    'emp' : {
          'name' : 'A',
           'salary' : 344,
           'holiday' : 32
    }    
}
s

{'name': 'A',
 'age': 3,
 'address': 'Delhi',
 'emp': {'name': 'A', 'salary': 344, 'holiday': 32}}

In [46]:
s.keys()

dict_keys(['name', 'age', 'address', 'emp'])

In [48]:
s['emp'].keys()

dict_keys(['name', 'salary', 'holiday'])

In [49]:
# values

s.values()

dict_values(['A', 3, 'Delhi', {'name': 'A', 'salary': 344, 'holiday': 32}])

In [51]:
s['emp'].values()

dict_values(['A', 344, 32])

In [52]:
# items

s.items()

dict_items([('name', 'A'), ('age', 3), ('address', 'Delhi'), ('emp', {'name': 'A', 'salary': 344, 'holiday': 32})])