In [10]:
# wap to multiply all the items in a list.

a = [3,5,42]
mul = 1

for i in a:
    mul = mul * i
print(mul)

630

In [13]:
# wap to get the largest no. from a list.

a = [45,23,76,23,98]
a[-1]

print('largest number',a[-1])

largest number 98

In [14]:
# wap to get the smallest no. from a list.

a= [45,-3,65,21]
a[1]

print('smallest number',a[1])

smallest number -3

In [15]:
# wap to check a list is empty or not.

a= [1,2,3,4,5]
len(a)

5

In [16]:
a= []
if len(a) == 0:
    print('empty list')
else:
    print('list is not empty')

empty list

In [52]:
# wap that takes two lists and returns True if they have at least one common member.

a=[1,2,3]
b=[3,9,7]

if a == b:
    print('true')
else:
    print('false')

false

In [41]:
# wap to print a specifies list after removing the 0th,4th and 5th elements.

x= [34,64,33,87,54,67,99,89]
x

[34, 64, 33, 87, 54, 67, 99, 89]

In [42]:
x.pop(0)

34

In [47]:
x.pop(4)

99

In [44]:
x.pop(5)

89

In [45]:
x

[64, 33, 87, 54, 99]

In [4]:
# wap to concatenate following dictionaries sample dictionary:

dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

dic1.update(dic2)
dic1
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [40]:
# wap to create a tuple with different data types.

a = (23,4.5,'string',True)
a

(23, 4.5, 'string', True)

In [49]:
# wap to create a tuple with number and print one item.

a= (34,-68,45,-2,66)
a[-1]

66

In [50]:
# wap to convert a tuple to a string.

a= (43,68,True,6.3,False)

TypeError: tuple indices must be integers or slices, not str

In [14]:
# wap to get the 4th element and 4th element from last of a tuple.

tup=(45,True,'hello',9.7,900,False,4444)
tup[3]

9.7

In [15]:
tup[-4]

9.7

In [22]:
# wap to sum all the numbers in a list.

a=[45,83,7,23]
sum=0

for i in a:
     sum=sum+i
print(sum)

158

In [1]:
# wap to multiply all the numbers in a list.

a=[45,7,2,44]
mul=1

for i in a:
    mul*= i
print(mul)

27720

In [11]:
# calculate the sum of all numbers from 1 to a given number.

a= int(input('enter the number'))
sum = 0

for i in range(1,a+1):
    sum=sum+i
print(sum)

enter the number52
1378

In [1]:
# wap to print multiplication table of a given number.

i=1
n=2
while i<=10:
    print(n,' * ',i,' = ',n*i)
    i=i+1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [8]:
# display numbers from a list using loop.

a=[3,5,7,2,1]
for a in range():
    print(a)

0
1
2
3

In [ ]:
# count the total number of digits in a number.

a=389542
count=0

while a>0:
    count=count+1
     a=a//10
print(count)

In [ ]:
# a company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
# Ask user for their salary and year of service and print the net bonus amount.

In [ ]:
# Take values of length and breadth of a rectangle from user and check if it is square or not.

In [ ]:
# A school has following rules for grading systems:
# a. Below 25 - F
# b. 25 to 45 - E
# c. 45 to 50 - D
# d. 50 to 60 - C
# e. 60 to 80 - B
# f. Above 80 - A
# Ask user to enter marks and print the corresponding grade.

In [11]:
# find max. and min. of 3 numbers.

a=[54,78,223]
print('maximum no',max(a))
print('minimum no',min(a))

maximum no 223
minimum no 54

In [ ]:
# swap 2 numbers without using temp. variable.

In [ ]:
# Take input of age of 3 people by user and determine oldest and youngest among them.

In [ ]:
# A student will not be allowed to sit in exam if his/her attendance is less than 75%. Take following input from user
# Number of classes held Number of classes attended. And print percentage of class attended.
# Is student is allowed to sit in exam or not.

In [1]:
# wap to print Fibonacci number to given limit.

terms=int(input('enter the terms'))
a=0
b=1
count=0
if terms<=0:
    print('enter an interger')
elif terms==1:
    print(a)
else:
    print('fibonacci sequence')
while count<terms:
    print(a,end='')
    c=a+b
    a=b
    b=c
    count=count+1

enter the terms9
fibonacci sequence
01123581321