# Function

In [1]:
# function syntax------>
# define the function  function name():
# print('msg')
# call the function

def greet():
    print('Hello')
greet()

Hello

In [2]:
# wap to add two numbers.

def add(a,b):
    c=a+b
    print(c)
    
add(3,4)

7

In [3]:
# types of function

# 1. no return no argument
# 2. no argument with return
# 3. with argument no return
# 4. with argument with return

In [6]:
# 1. no return no argument

def add():
    a=3
    b=5
    c=a+b
    print(c)
add()

8

In [7]:
# 2. no argument with return

def add():
    a=5
    b=6
    c=a+b
    return c
add()

11

In [10]:
# 3. with argument no return

def add(a,b):
    c=a+b
    print(c)
    
add(2,6)

8

In [11]:
# 4. with argument with return

def add(a,b):
    c=a*b
    return c

add(3,4)

12

In [1]:
# wap to find max no. from three numbers using funciton.

In [6]:
# wap to sum all number present in a list.

def add_list():
    a=[1,2,3,4]
    sum=0
    for i in a:
        sum=sum+i
        print(sum)
add_list()

1
3
6
10

In [7]:

for i in range(2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [8]:
a = (23,5.4,'help',True)

In [10]:
type(a)

tuple

In [12]:
a[1]

5.4

In [14]:
# decimal to binary

def dtb(num):
    if num>=1:
        dtb(num//2)
    print(num%2,end='')
dec_val=24
dtb(dec_val)

011000

In [17]:
n=34324
count=0
while n>0:
    count=count+1
    n=n//10
print(count)

5

In [9]:
# Calculate the total area of a land having l=20 b=30. If the land is greater than 100sq then also calculate the cost of 
# remaining land.Price of land is 20000K.

def fun():
    l =20
    b =30
    landarea = 100
    
    area=l*b

    if area>100:
        remainingland = area-landarea
        print(remainingland)
    
        cost = remainingland * 20000
        print(cost)
        
fun()

500
10000000

In [10]:
def add(x=3,y=8):
    z=x+y
    return z
add()

11

In [11]:
def add(x=3,y=8):
    z=x+y
    return z
add(5,7)

12