In [1]:
class parent:
    def __init__ (self,name,age):
        self.name = name
        self.age= age
        
class child:
    def __init__ (self,marks):
        self.marks = marks
        
c =child(45)
c.marks

45

In [2]:
class parent:
    def __init__ (self,name,age):
        self.name=name
        self.age=age
        
class child(parent):
    def __init__ (self,name,age,marks):
        super(). __init__(name,age)
        self.marks=marks
        
c=child("A",23,45)
c.name

'A'

In [3]:
# polymorphism-----> 1. overloading --> a.Operator Overloading, b. Function Overloading

In [4]:
# Operator Overloading
a=3
b=4
c=a+b
c

7

In [5]:
a='3'
b='5'
c=a+b
print(c)

35

In [6]:
# Function Overloading

def fun(x,y):
    result=x*y
    return result
fun(2,3)

6

In [7]:
def fun(x,y=4):
    result=x*y
    return result
fun(2)

8

In [8]:
def fun(x=5,y=8):
    result=x*y
    return result
fun()

40

In [9]:
# Encapsulation------> Data hide ----> public,private,protected

#public
class apple:
    x = 10
    
a =  apple()
a.x

10

In [10]:
# private

class apple:
     __x = 10
    
a =  apple()
a.x

AttributeError: 'apple' object has no attribute 'x'

In [ ]:
# protected

class apple:
     _x = 10
    
a =  apple()
a._x

In [ ]:
# lambda function

# wap to add two numbers.

def add(x,y):
    result=x+y
    return result

add(1,3)

In [ ]:
x=lambda a,b:a+b
x(4,5)

In [ ]:
# global variable

a= 13

In [ ]:
# local variable

def fun():
    a=13

In [ ]:
# UTF-8----> encoding techniques

# file handling----> open file, read the file, write the file

import pandas as pd

In [ ]:
# df = pd.read_csv('coma separated file')
# df.head()

In [ ]:
# exception handling

a= 6
b= 3
 
try:
    print(a/b)
    
except:
    print("e")

print("This is my important code!!")

In [ ]:
# wap to count total number in a digit?

n = 34528640933
count=0

while n>0:
    count = count+1
    n=n//10
    
    
print(count)

In [11]:
# wap to reverse a number.

a = 3567
reverse_num = 0

while a>0:
    digit = a % 10
    reverse_num = reverse_num*10+digit
    a=a//10
    
    print(reverse_num)

7
76
765
7653

In [17]:
# wap to solve prime number.

# wap to find number which is not only divisible by both 6 & 2 but also by 5.

a= 30
if a%5 == 0 and a% 2== 0 and a%6 == 0:
    print("Divisible")
    
else:
    print("Not Divisible")

Divisible

In [18]:
# wap to solve prime number.

x = 43
n = 0
for i in range(1,x+1):
    if x%i == 0:
        n=n+i
if n == x+1:
    print("prime number")
else:
    print("not prime")

prime number

In [20]:
# wap to find a string is palindrome or not?

a = 'hello'
x = a[:: -1]
x

'olleh'

In [21]:
a = 'malayalam'
for i in a:
     print(i)

m
a
l
a
y
a
l
a
m

In [23]:
a = 'malayalam'
b = ''

for i in a:
    b = i+b
if a == b:
    print('palindrome')
else:
    print('not palindrome')

palindrome