In [1]:
# wap to store 3 fruit items in a list entered by the user.

b = []
for i in range(4):
    x=input("Enter the fruit")
    b.append(x)

print(b)

Enter the fruitapple
Enter the fruitmango
Enter the fruitguava
Enter the fruitbanana
['apple', 'mango', 'guava', 'banana']

In [8]:
# wap to display marks of 5 students & display them in sorted way.

a = []
for i in range(5):
    x=int(input('Enter your marks'))
    a.append(x)
    
print(a)

Enter your marks34
Enter your marks64
Enter your marks77
Enter your marks34
Enter your marks74
[34, 64, 77, 34, 74]

In [10]:
a.sort()

In [11]:
a

[34, 34, 64, 74, 77]

In [23]:
a = []
for i in range(5):
    x=int(input('Enter your marks'))
    a.append(x)
    
print("Marks in random order",a)
a.sort()
print("Marks in sorted form",a)

Enter your marks56
Enter your marks45
Enter your marks-9
Enter your marks56
Enter your marks34
Marks in random order [56, 45, -9, 56, 34]
Marks in sorted form [-9, 34, 45, 56, 56]

In [25]:
# check if tuple is mutable or not?

a=(34,22,67,43)
a

(34, 22, 67, 43)

In [26]:
type(a)

tuple

In [28]:
a[1]=100

TypeError: 'tuple' object does not support item assignment

In [30]:
# wapt to add list of 4 numbers?

a = [34,64,24,66]
b=0

for i in a:
    b=i+b
    print(b)

34
98
122
188

In [31]:
# wap to count 7 in the tuple t=(7,77,777,-77,87,97,-7777)

t=(7,77,777,-77,87,97,-7777)
t.count(7)

1

In [32]:
my_dict={
    'name':'jay',
    'age':23,
    'marks':87
}
my_dict

{'name': 'jay', 'age': 23, 'marks': 87}

In [34]:
type(my_dict)

dict

In [43]:
# wap to make a dict of employee.

emp={
    'name':['kim','maria','alsa'],
    'age': [34,22,43],
    'salary':[45000,34553,25675]
}
emp

{'name': ['kim', 'maria', 'alsa'],
 'age': [34, 22, 43],
 'salary': [45000, 34553, 25675]}

In [49]:
emp['name']

['kim', 'maria', 'alsa']

In [50]:
emp['name'][2]

'alsa'

In [5]:
x={
    'name':['A','B','C'],
    'age':(34,64,22),
    'salary':230000,
    
    
    'a' : {
        'rank':'senior',
        'address':['Noida','Delhi','Goa']
    }
}
x

{'name': ['A', 'B', 'C'],
 'age': (34, 64, 22),
 'salary': 230000,
 'a': {'rank': 'senior', 'address': ['Noida', 'Delhi', 'Goa']}}

In [6]:
x['a']['address'][2]

'Goa'

In [15]:
# wap to make a dict of student and employee and try to fetch the common data.

stu={
    'name':['ajay','vijay','karan'],
    'age':[34,23,53],
    'marks':[76,86,56],
    
    'emp': {
        'name':['john','sahil'],
        'age':[34,43],
        'salary':[23000,42000]
    }
}
stu

{'name': ['ajay', 'vijay', 'karan'],
 'age': [34, 23, 53],
 'marks': [76, 86, 56],
 'emp': {'name': ['john', 'sahil'], 'age': [34, 43], 'salary': [23000, 42000]}}

In [16]:
stu['emp']['age'][0]

34

# Dict method

In [34]:
# copy
# clear
# pop
# items
# values
# keys

s={
    'name':['ajay'],
    'age':[34],
    'marks':[76],
    
    'emp': {
        'name':['ajay'],
        'age':[34],
        'salary':[23000]
    }
}
s

{'name': ['ajay'],
 'age': [34],
 'marks': [76],
 'emp': {'name': ['ajay'], 'age': [34], 'salary': [23000]}}

In [25]:
s.copy()

{'name': ['ajay'],
 'age': [34],
 'marks': [76],
 'emp': {'name': ['ajay'], 'age': [34], 'salary': [23000]}}

In [28]:
s.clear()

In [32]:
s.pop('emp')

{'name': ['ajay'], 'age': [34], 'salary': [23000]}

In [36]:
s.pop('age')

[34]

In [37]:
s

{'name': ['ajay'],
 'marks': [76],
 'emp': {'name': ['ajay'], 'age': [34], 'salary': [23000]}}

In [38]:
s['emp'].pop('salary')

[23000]

In [39]:
s

{'name': ['ajay'], 'marks': [76], 'emp': {'name': ['ajay'], 'age': [34]}}

In [44]:
# KEYS

s={
    'name':['ajay'],
    'age':[34],
    'marks':[76],
    
    'emp': {
        'name':['ajay'],
        'age':[34],
        'salary':[23000]
    }
}
s

{'name': ['ajay'],
 'age': [34],
 'marks': [76],
 'emp': {'name': ['ajay'], 'age': [34], 'salary': [23000]}}

In [41]:
s.keys()

dict_keys(['name', 'age', 'marks', 'emp'])

In [42]:
s['emp'].keys()

dict_keys(['name', 'age', 'salary'])

In [46]:
# values

s.values()

dict_values([['ajay'], [34], [76], {'name': ['ajay'], 'age': [34], 'salary': [23000]}])

In [47]:
s['emp'].values()

dict_values([['ajay'], [34], [23000]])

In [48]:
s.items()

dict_items([('name', ['ajay']), ('age', [34]), ('marks', [76]), ('emp', {'name': ['ajay'], 'age': [34], 'salary': [23000]})])