In [2]:
# wap to multiply all the items in a list.

l=[1,2,1,2,1]
m=1
for i in l:
    m=m*i
print(m)

4

In [13]:
# wap to get the largest number from a  list.

a=[34,22,65,33,2]
a[2]
print('largest no.---->',a[2])

largest no.----> 65

In [17]:
# wap to get smallest number from a list.

a=[34,54,22,6,-3]
a[-1]
print('smallest no.------>',a[-1])

smallest no.------> -3

In [11]:
# wap to check a list is empty or not.

a = [3]
if a==[]:
    print('empty')
else:
    print('not empty')

not empty

In [5]:
# wap that takes two lists and returns True if they have at least one common member.

a=[1,2,3]
b=[3,5,7]

for i in a:
    for j in b:
        if a==j:
            print ('True')
        else:
            print('False')

False
False
False
False
False
False
False
False
False

In [19]:
# wap to print a specified list after removing the 0th,4th and 5th elements.

y=[34,55,23,66,35,7,76,45,77,45]
y.pop(0)

34

In [20]:
y.pop(4)

7

In [21]:
y.pop(5)

45

In [22]:
y

[55, 23, 66, 35, 76, 77, 45]

In [26]:
# wap to concatenate dictionaries:

a={1:10,2:20}
b={3:30,4:40}
c={5:50,6:60}

a.update(b)
a
a.update(c)
a

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [27]:
# wap to create with different data types.

tup = (23,5.6,'hey',False)
tup

(23, 5.6, 'hey', False)

In [29]:
# wap to create a tuple with number and print one item.

t=(34,52,55,6,-5)
t[4]

-5

In [6]:
# wap to find fibonacci series?

a=0
b=1
n=5
count=0

if n<=0:
    print('Enter positive number')
    
elif n == 1:
    print(a)
    
    
else:
    print('sequence')
    while count<n:
        print(a)
        nth=a+b
        a = b
        b = nth
        count += 1

sequence
0
1
1
2
3

In [9]:
a=0
b=1
n=10
count=0
while count<n:
        print(a)
        nth=a+b
        a = b
        b = nth
        count += 1

0
1
1
2
3
5
8
13
21
34